.navbar-container {
  width: 25%;
  background-color: #f2f2f2;
  padding: 10px;
  margin-right: 20px; /* Add padding to the right side */
}

.navbar-list-container {
  padding-left: 0;
}

.navbar-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-list-item:hover {
  background-color: #f7f7f7;
}

.navbar-list-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  margin-left: 10px;
  font-weight: bold;
}

.navbar-items-logo {
  font-size: 25px;
  color: #64748b;
}

.border {
  border-left: 5px solid orangered;
}
